section#kinvoweb {
    width: 100vw;
    height: 100vh;
    background-color: #FF8052;
    overflow: hidden;
    color: #FFFFFF;
}

section#kinvoweb span {
    color: #9E51BA;
}

section#kinvoweb #col {
    margin-top: 10vh;
}

section#kinvoweb .col-1 {
    width: 25vw;
    position: absolute;
    margin: 0;
    margin-left: 10vw;
    float: left;
}

section#kinvoweb .col-1 h1, 
section#kinvoweb .col-1 h2,
section#kinvoweb .col-1 h3, 
section#kinvoweb .col-1 p {
    color: #FFFFFF;
}

section#kinvoweb #col .col-img-right {
    float: left;
}

section#kinvoweb #img-kinvoweb {
    margin: 15vw;
    margin-top: 10vh;
    height: 80vh;
}

section#kinvoweb .col-1 p {
    margin-top: 5vh;
}

section#kinvoweb .col-1 h3 {
    margin-top: 2.5vh;
    font-size: 2em;
}




