section#recursos {
    background-color: #5D41AC;
    width: 100vw;
    height: 100vh;
    color: #FFFFFF;
    overflow: hidden;
}
section#recursos .col-1 {
    width: 30vw;
    margin-left: 2.5vw;
    float: left;
}
section#recursos .col-1 p, 
section#recursos .col-1 h2, 
section#recursos .col-1 h3 {
    color: #FFFFFF;
}
section#recursos .col-2 {
    margin-right: 1vw;
    margin-left: 10vw;
    width: auto;
    float: left;
}

section#recursos#card {
    float: left;
}

section#recursos .card-set {
    margin: 0.5vh 0.25vw;
    border-radius: 5px;
    color: black;
    background-color: aliceblue;
    float: left;
    width: 22.5vw;
    height: 18vh;
    padding: 1vh 0;
    overflow: hidden;
}

section#recursos .col-1 p {
    margin-top: 5vh;
}

section#recursos .col-1 h3 {
    margin-top: 2.5vh;
    font-size: 2em;
}

section#recursos .col-1 h3 span#mark {
    color: #E679C0;
}

section#recursos #card h5 {
    margin: 1vh;
    width: auto;
    font-size: 1em;
    color: #707B81;
}

section#recursos #card p {
    line-height: normal;
    margin-top: 2.5vh;
    margin-bottom: 0.5vh;
    width: auto;
    margin-right: 1vw;
    font-size: 0.8em;
    color: #707B81;
}

section#recursos #card-mark {
    margin-right: 2vw;
    float: left;
    width: 6vw;
    height: 16vh;
    background-color: #F7F8F8;
    border-right: 0.01rem solid #5D41AC;
}

section#recursos #card-mark img#card-mark-img {
    display: flex;
    margin: auto;
    margin-top: 3vh;
    max-height: auto;
    max-width: 4vw;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

